# net.minecraft.client
public net.minecraft.client.Minecraft m_91278_()Z # isMultiplayerServer
## net.minecraft.client.gui
public net.minecraft.client.gui.Font m_271992_(Lnet/minecraft/util/FormattedCharSequence;FFIZLorg/joml/Matrix4f;Lnet/minecraft/client/renderer/MultiBufferSource;Lnet/minecraft/client/gui/Font$DisplayMode;II)F # renderText
public net.minecraft.client.gui.GuiGraphics m_286081_()V # flushIfUnmanaged
### net.minecraft.client.gui.components
protected net.minecraft.client.gui.components.EditBox m_94219_()Z # isBordered
public net.minecraft.client.gui.components.AbstractWidget m_280138_(Lnet/minecraft/client/gui/GuiGraphics;Lnet/minecraft/client/gui/Font;Lnet/minecraft/network/chat/Component;IIIII)V # renderScrollingString
#### net.minecraft.client.gui.components.toasts
public net.minecraft.client.gui.components.toasts.ToastComponent$ToastInstance
public net.minecraft.client.gui.components.toasts.AdvancementToast f_94795_ # advancement
## net.minecraft.client.model
public net.minecraft.client.model.AgeableHierarchicalModel f_271539_ # youngScaleFactor
public net.minecraft.client.model.AgeableHierarchicalModel f_271124_ # bodyYOffset
### net.minecraft.client.model.geom
public net.minecraft.client.model.geom.ModelPart f_104212_ # cubes
public net.minecraft.client.model.geom.ModelPart f_104213_ # children
## net.minecraft.client.particle
## net.minecraft.client.particle
public net.minecraft.client.particle.Particle f_107231_ # roll
public net.minecraft.client.particle.Particle f_107204_ # oRoll
## net.minecraft.client.multiplayer
public net.minecraft.client.multiplayer.ClientLevel m_104689_(Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/core/particles/ParticleOptions;Z)V # trySpawnDripParticles
## net.minecraft.client.renderer
public net.minecraft.client.renderer.GameRenderer f_109053_ # effectActive
public net.minecraft.client.renderer.RenderStateShard f_110139_ # TRANSLUCENT_TRANSPARENCY
### net.minecraft.client.renderer.entity
public net.minecraft.client.renderer.entity.LivingEntityRenderer f_115291_ # layers
#### net.minecraft.client.renderer.entity.player
public net.minecraft.client.renderer.entity.player.PlayerRenderer m_117818_(Lnet/minecraft/client/player/AbstractClientPlayer;)V # setModelProperties
#### net.minecraft.client.renderer.entity.layers
public net.minecraft.client.renderer.entity.layers.HumanoidArmorLayer f_117071_ # innerModel
public net.minecraft.client.renderer.entity.layers.HumanoidArmorLayer f_117072_ # outerModel
### net.minecraft.client.renderer.texture
public net.minecraft.client.renderer.texture.SpriteContents f_244575_ # animatedTexture
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture f_243714_ # frames
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture f_244317_ # interpolateFrames
public net.minecraft.client.renderer.texture.SpriteContents$FrameInfo
public net.minecraft.client.renderer.texture.SpriteContents$FrameInfo f_243751_ # index
public net.minecraft.client.renderer.texture.SpriteContents$FrameInfo f_244553_ # time

# net.minecraft.world
## net.minecraft.world.level
public net.minecraft.world.level.GameRules$Type <init>(Ljava/util/function/Supplier;Ljava/util/function/Function;Ljava/util/function/BiConsumer;Lnet/minecraft/world/level/GameRules$VisitorCaller;)V
public net.minecraft.world.level.GameRules$VisitorCaller
protected net.minecraft.world.level.Explosion *
public net.minecraft.world.level.NaturalSpawner m_47065_(Lnet/minecraft/world/level/LevelReader;Lnet/minecraft/world/entity/EntityType;II)Lnet/minecraft/core/BlockPos; # getTopNonCollidingPos
### net.minecraft.world.level.biome
protected net.minecraft.world.level.biome.MultiNoiseBiomeSource <init>(Lcom/mojang/datafixers/util/Either;)V
public net.minecraft.world.level.biome.MultiNoiseBiomeSource m_274409_()Lnet/minecraft/world/level/biome/Climate$ParameterList; # parameters
public net.minecraft.world.level.biome.MultiNoiseBiomeSource f_48435_ # parameters
### net.minecraft.world.level.block
protected net.minecraft.world.level.block.DoorBlock m_245755_(Lnet/minecraft/world/entity/Entity;Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;Z)V # playSound
public net.minecraft.world.level.block.BannerBlock f_49009_ # SHAPE
public net.minecraft.world.level.block.WallBannerBlock f_57917_ # SHAPES
public net.minecraft.world.level.block.Blocks m_50778_(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/entity/EntityType;)Ljava/lang/Boolean; # never
public net.minecraft.world.level.block.Blocks m_50809_(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/entity/EntityType;)Ljava/lang/Boolean; # always
public net.minecraft.world.level.block.FireBlock m_53444_(Lnet/minecraft/world/level/block/Block;II)V # setFlammable
public net.minecraft.world.level.block.PointedDripstoneBlock f_221845_ # LAVA_TRANSFER_PROBABILITY_PER_RANDOM_TICK
#### net.minecraft.world.level.block.entity
protected net.minecraft.world.level.block.entity.ChestBlockEntity f_155324_ # openersCounter
public net.minecraft.world.level.block.entity.BlockEntity m_155232_(Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/state/BlockState;)V # setChanged
#### net.minecraft.world.level.block.state
public-f net.minecraft.world.level.block.state.BlockBehaviour f_60443_ # hasCollision
public-f net.minecraft.world.level.block.state.BlockBehaviour f_60446_ # soundType
public-f net.minecraft.world.level.block.state.BlockBehaviour f_60447_ # friction
public-f net.minecraft.world.level.block.state.BlockBehaviour f_60448_ # speedFactor
public-f net.minecraft.world.level.block.state.BlockBehaviour f_60449_ # jumpFactor
public-f net.minecraft.world.level.block.state.BlockBehaviour f_60438_ # dynamicShape
public-f net.minecraft.world.level.block.state.BlockBehaviour f_243733_ # requiredFeatures
public-f net.minecraft.world.level.block.state.BlockBehaviour f_60444_ # explosionResistance
public-f net.minecraft.world.level.block.state.BlockBehaviour f_60439_ # properties
public net.minecraft.world.level.block.state.BlockBehaviour$Properties f_60884_ # hasCollision
public net.minecraft.world.level.block.state.BlockBehaviour$Properties f_60885_ # soundType
public net.minecraft.world.level.block.state.BlockBehaviour$Properties f_60891_ # friction
public net.minecraft.world.level.block.state.BlockBehaviour$Properties f_60892_ # speedFactor
public net.minecraft.world.level.block.state.BlockBehaviour$Properties f_60893_ # jumpFactor
public net.minecraft.world.level.block.state.BlockBehaviour$Properties f_60903_ # dynamicShape
public net.minecraft.world.level.block.state.BlockBehaviour$Properties f_244138_ # requiredFeatures
public net.minecraft.world.level.block.state.BlockBehaviour$Properties f_60887_ # explosionResistance
public net.minecraft.world.level.block.state.BlockBehaviour$BlockStateBase$Cache
### net.minecraft.world.level.levelgen
public net.minecraft.world.level.levelgen.WorldOptions <init>(JZZLjava/util/Optional;)V
public net.minecraft.world.level.levelgen.DensityFunctions$TwoArgumentSimpleFunction
#### net.minecraft.world.level.levelgen.feature
public net.minecraft.world.level.levelgen.feature.TreeFeature m_225251_(Lnet/minecraft/world/level/LevelAccessor;Lnet/minecraft/world/level/levelgen/structure/BoundingBox;Ljava/util/Set;Ljava/util/Set;Ljava/util/Set;)Lnet/minecraft/world/phys/shapes/DiscreteVoxelShape; # updateLeaves
#### net.minecraft.world.level.levelgen.structure
public net.minecraft.world.level.levelgen.structure.TemplateStructurePiece f_163658_ # templateName
public net.minecraft.world.level.levelgen.structure.StructureStart f_163593_ # cachedBoundingBox
##### net.minecraft.world.level.levelgen.structure.structures
public-f net.minecraft.world.level.levelgen.structure.structures.JigsawStructure
#### net.minecraft.world.level.levelgen.carver
protected net.minecraft.world.level.levelgen.carver.WorldCarver m_159418_(Lnet/minecraft/world/level/levelgen/carver/CarvingContext;Lnet/minecraft/world/level/levelgen/carver/CarverConfiguration;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/levelgen/Aquifer;)Lnet/minecraft/world/level/block/state/BlockState; # getCarveState
### net.minecraft.world.level.storage
#### net.minecraft.world.level.storage.loot
public-f net.minecraft.world.level.storage.loot.LootParams f_286957_ # luck
### net.minecraft.world.level.chunk
public net.minecraft.world.level.chunk.PalettedContainer$Data
public net.minecraft.world.level.chunk.PalettedContainer$Data <init>(Lnet/minecraft/world/level/chunk/PalettedContainer$Configuration;Lnet/minecraft/util/BitStorage;Lnet/minecraft/world/level/chunk/Palette;)V
public net.minecraft.world.level.chunk.PalettedContainer f_188032_ # data
## net.minecraft.world.entity
public net.minecraft.world.entity.Entity m_20351_(Lnet/minecraft/world/entity/Entity;)V # removePassenger
public net.minecraft.world.entity.Entity m_20171_(FF)Lnet/minecraft/world/phys/Vec3; # calculateViewVector
public net.minecraft.world.entity.Entity f_19824_ # vehicle
public net.minecraft.world.entity.LivingEntity m_21198_(Lnet/minecraft/world/entity/EquipmentSlot;)Lnet/minecraft/world/item/ItemStack; # getLastArmorItem
public net.minecraft.world.entity.LivingEntity m_21304_()I # getCurrentSwingDuration
public net.minecraft.world.entity.LightningBolt f_147134_ # hitEntities
### net.minecraft.world.entity.projectile
protected net.minecraft.world.entity.projectile.Projectile f_37244_ # ownerUUID
protected net.minecraft.world.entity.projectile.Projectile f_150163_ # cachedOwner
protected net.minecraft.world.entity.projectile.FishingHook <init>(Lnet/minecraft/world/entity/EntityType;Lnet/minecraft/world/level/Level;II)V
public net.minecraft.world.entity.projectile.FishingHook f_37096_ # luck
public net.minecraft.world.entity.projectile.FishingHook f_37097_ # lureSpeed
protected net.minecraft.world.entity.projectile.FishingHook f_37089_ # nibble
protected net.minecraft.world.entity.projectile.FishingHook f_37102_ # DATA_BITING
protected net.minecraft.world.entity.projectile.FishingHook m_37145_(Lnet/minecraft/core/BlockPos;)V # catchingFish
### net.minecraft.world.entity.npc
public net.minecraft.world.entity.npc.VillagerType <init>(Ljava/lang/String;)V
### net.minecraft.world.entity.item
protected net.minecraft.world.entity.item.ItemEntity m_32070_()Z # isMergable
### net.minecraft.world.entity.monster
protected net.minecraft.world.entity.monster.AbstractSkeleton f_32131_ # meleeGoal
protected net.minecraft.world.entity.monster.AbstractSkeleton f_32130_ # bowGoal
### net.minecraft.world.entity.ai
#### net.minecraft.world.entity.ai.attributes
public-f net.minecraft.world.entity.ai.attributes.RangedAttribute f_22308_ # maxValue
## net.minecraft.world.item
public net.minecraft.world.item.Item m_41435_(Lnet/minecraft/world/level/Level;Lnet/minecraft/world/entity/player/Player;Lnet/minecraft/world/level/ClipContext$Fluid;)Lnet/minecraft/world/phys/BlockHitResult; # getPlayerPOVHitResult
protected-f net.minecraft.world.item.ArmorItem f_40383_ # defaultModifiers
protected-f net.minecraft.world.item.DiggerItem f_40982_ # defaultModifiers
public net.minecraft.world.item.BoatItem type
public-f net.minecraft.world.item.ItemStack
public net.minecraft.world.item.Item$Properties f_41478_ # maxStackSize
### net.minecraft.world.item.crafting
public net.minecraft.world.item.crafting.Ingredient f_43902_ # values
public net.minecraft.world.item.crafting.Ingredient$TagValue f_43959_ # tag
### net.minecraft.world.item.context
public net.minecraft.world.item.context.UseOnContext m_43718_()Lnet/minecraft/world/phys/BlockHitResult; # getHitResult
## net.minecraft.world.effect
public net.minecraft.world.effect.MobEffectInstance f_19503_ # duration
public net.minecraft.world.effect.MobEffectInstance f_19504_ # amplifier
## net.minecraft.world.inventory
protected net.minecraft.world.inventory.AbstractContainerMenu m_246200_(Lnet/minecraft/world/entity/player/Player;Lnet/minecraft/world/inventory/ClickAction;Lnet/minecraft/world/inventory/Slot;Lnet/minecraft/world/item/ItemStack;Lnet/minecraft/world/item/ItemStack;)Z # tryItemClickBehaviourOverride

# net.minecraft.server
## net.minecraft.server.level
public net.minecraft.server.level.DistanceManager f_140760_ # playersPerChunk
public net.minecraft.server.level.ChunkMap m_140327_(J)Lnet/minecraft/server/level/ChunkHolder; # getVisibleChunkIfPresent
public net.minecraft.server.level.PlayerRespawnLogic m_183928_(Lnet/minecraft/server/level/ServerLevel;II)Lnet/minecraft/core/BlockPos; # getOverworldRespawnPos

# net.minecraft.advancements
public net.minecraft.advancements.AdvancementProgress <init>(Ljava/util/Map;)V
public net.minecraft.advancements.AdvancementProgress f_8190_ # criteria
## net.minecraft.advancements.critereon
public net.minecraft.advancements.critereon.StatePropertiesPredicate f_67659_ # properties
public net.minecraft.advancements.critereon.StatePropertiesPredicate$PropertyMatcher
public net.minecraft.advancements.critereon.StatePropertiesPredicate$PropertyMatcher f_67715_ # name
public net.minecraft.advancements.critereon.StatePropertiesPredicate$RangedPropertyMatcher
public net.minecraft.advancements.critereon.StatePropertiesPredicate$RangedPropertyMatcher f_67727_ # minValue
public net.minecraft.advancements.critereon.StatePropertiesPredicate$RangedPropertyMatcher f_67728_ # maxValue
public net.minecraft.advancements.critereon.StatePropertiesPredicate$ExactPropertyMatcher
public net.minecraft.advancements.critereon.StatePropertiesPredicate$ExactPropertyMatcher f_67707_ # value
public net.minecraft.advancements.critereon.ItemPredicate f_45029_ # tag
public net.minecraft.advancements.critereon.ItemPredicate f_151427_ # items

# net.minecraft.data
## net.minecraft.data.worldgen
public net.minecraft.data.worldgen.ProcessorLists f_127198_ # EMPTY
