[submodule "TerraCurio"]
	path = TerraCurio
	url = https://github.com/westernat/TerraCurio
	branch = Neo-1.21.1
[submodule "MineTeam"]
    path = MineTeam
    url = https://github.com/XiaoHuNao/MineTeam
    branch = master
[submodule "EquipmentBenediction"]
    path = EquipmentBenediction
    url = https://github.com/XiaoHuNao/EquipmentBenediction
    branch = NeoForge/1.21.1
