[submodule "TerraCurio"]
	path = TerraCurio
	url = https://github.com/westernat/TerraCurio
	branch = NeoForge-1.21.1
[submodule "TerraGuns"]
	path = TerraGuns
	url = https://github.com/XiaoHuNao/TerraGuns
	branch = NeoForge/1.21.1
[submodule "EquipmentBenediction"]
	path = EquipmentBenediction
	url = https://github.com/XiaoHuNao/EquipmentBenediction
	branch = NeoForge/1.21.1
[submodule "MineTeam"]
	path = MineTeam
	url = https://github.com/XiaoHuNao/MineTeam
	branch = master
[submodule "EnemyBanner"]
	path = EnemyBanner
	url = https://github.com/XiaoHuNao/EnemyBanner
	branch = NeoForge/1.21.1
